:root {
  --clr-primary: light-dark(#0057cc, #b0c6ff);
  --clr-on-primary: light-dark(#ffffff, #002c6f);
  --clr-primary-container: light-dark(#d9e2ff, #00419c);
  --clr-on-primary-container: light-dark(#00419c, #d9e2ff);

  --clr-error: light-dark(#c00016);
  --clr-on-error: light-dark(#ffffff);
  --clr-error-container: light-dark(#ffdad6);
  --clr-on-error-container: light-dark(#93000e);

  --clr-surface: light-dark(#faf8ff, #121318);
  --clr-surface-container-lowest: light-dark(#ffffff, #0c0e13);
  --clr-surface-container-low: light-dark(#f4f3fa, #1a1b20);
  --clr-surface-container: light-dark(#eeedf4, #1e1f25);
  --clr-surface-container-high: light-dark(#e8e7ef, #282a2f);
  --clr-surface-container-highest: light-dark(#e2e2e9, #33343a);
  --clr-on-surface: light-dark(#1a1b20, #e2e2e9);
  --clr-surface-variant: light-dark(#e1e2ec, #44464f);
  --clr-on-surface-variant: light-dark(#44464f, #c5c6d0);

  --clr-outline: light-dark(#757780, #8f9099);
  --clr-outline-variant: light-dark();
  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-4: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

html,
body,
#root {
  min-height: 100dvh;
  background-color: var(--clr-surface);
  color: var(--clr-on-surface);
}

#root {
  padding: 4rem 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

ul {
  list-style: none;
}

.site-header {
  width: 100%;
  height: 4rem;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--clr-surface);
  transition: background-color, box-shadow 300ms ease-in-out;
  &[class*="--on-scroll"] {
    background-color: var(--clr-surface-container);
    box-shadow: var(--elevation-2);
  }
  h1 {
    font-size: 1.833rem;
  }
  label {
    display: grid;
    place-items: center;
  }
  svg {
    fill: var(--clr-on-surface);
  }
}
.site-nav {
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: var(--clr-surface-container);
  box-shadow: var(--elevation-2);
  li::first-letter {
    text-transform: capitalize;
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .active {
    background-color: var(--clr-primary-container);
  }
}
.site-filter {
  width: 20rem;
  height: 100dvh;
  padding: 12px;
  border-radius: 0 16px 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-150%);
  background-color: var(--clr-surface-container-low);
  color: var(--clr-on-surface);
  box-shadow: var(--elevation-1);
  z-index: 5;
  transition: transform 500ms ease-in-out;
  svg {
    fill: var(--clr-on-surface);
  }
  h2,
  h3 {
    font-family: var(--ff-1);
    padding: 16px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  [class*="__close"]{
    align-self: flex-end;
  }
}

.scrim {
  width: 100dvh;
  height: 100dvh;
  position: fixed;
  top: 0;
  background-color: rgba(18, 19, 22, 0.8);
  z-index: 5;
  display: none;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.site-filter__item:checked ~ label {
  background-color: var(--clr-primary-container);
}

.site-filter__item ~ label {
  min-width: max-content;
  height: 3.5rem;
  padding: 0 16px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#filter-btn:checked ~ .site-filter {
  transform: translateX(0);
}
#filter-btn:checked ~ .scrim {
  display: block;
  transition: all 500ms ease-in-out;
}

.main-article {
  padding: 16px 16px 0 16px;
  h2 {
    font-size: 3.563rem;
    padding-bottom: 16px;
  }
  h3 {
    font-size: 2rem;
    padding: 16px 0;
  }
  img {
    width: 100%;
    height: 600px;
    border-radius: 24px;
    object-fit: cover;
  }
  form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    padding-bottom: 16px;
    align-items: center;
    input {
      height: 3.5rem;
      padding: 8px;
      border: 1px solid var(--clr-outline);
      border-radius: 8px;
      font-size: 1rem;
      &:focus-visible {
        outline-color: var(--clr-primary);
      }
    }
  }
  li {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    gap: 16px;
    button {
      align-self: center;
    }
  }
}

.main-home {
  display: block;
  padding: 16px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

button,
.btn {
  width: max-content;
  height: 40px;
  padding: 0 24px 0 16px;
  border-radius: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  color: var(--clr-on-primary);
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  svg {
    fill: var(--clr-on-primary);
  }
  &[class*="--outlined"] {
    background-color: transparent;
    color: var(--clr-primary);
    &:hover {
      background-color: light-dark(
        rgba(0, 87, 204, 0.08),
        rgba(176, 198, 255, 0.08)
      );
    }
    svg {
      fill: var(--clr-primary);
    }
  }
  &[class*="--tonal"] {
    border-color: var(--clr-primary-container);
    background-color: var(--clr-primary-container);
    color: var(--clr-on-primary-container);
  }
  &[class*="--icon"] {
    width: 48px;
    height: 48px;
    padding: 0;
    display: grid;
    place-items: center;
    border: transparent;
    background-color: transparent;
    transition: all 300ms ease-in-out;
    &:hover {
      border: 0;
      background-color: var(--clr-surface-variant);
    }
    svg {
      fill: var(--clr-on-surface-variant);
    }
  }
  &[class*="--icon-outline"] {
    border: 1px solid var(--clr-on-surface-variant);
    &:hover{
      border: 1px solid var(--clr-on-surface-variant);
    }
  }
  &:disabled {
    background-color: var(--clr-on-surface);
    opacity: 0.12;
    cursor: default;
  }
}

.card-container {
  padding-top: 16px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ncn-card {
  padding-bottom: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--clr-surface-container-highest);
  [class*="__img"] {
    aspect-ratio: 1;
    object-fit: cover;
  }
  [class*="__title"] {
    padding: 0 16px;
    font-size: 1.333rem;
  }
  [class*="__topic"] {
    padding: 0 16px;
    font-weight: 500;
    &::first-letter{
      text-transform: capitalize;
    }
  }
  [class*="__time-date"] {
    padding: 0 16px;
  }
  [class*="__btn"] {
    margin-right: 16px;
    align-self: flex-end;
  }
}

.vote-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
  }
}

.skeleton-container {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.skeleton-list {
  display: grid;
  grid-template-areas:
    "img title"
    "date-topic date-topic";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px auto;
  gap: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
}

.skeleton {
  opacity: 0.7;
  animation: loading 1s linear infinite alternate;
  &[class*="__img"] {
    width: 100%;
    height: 600px;
    border-radius: 0.125rem;
    margin-bottom: 0.25rem;
  }
  &[class*="__thumbnail"] {
    width: 100%;
    aspect-ratio: 1;
    grid-area: img;
    border-radius: 0.125rem;
  }
  &[class*="__body"] {
    width: 100%;
    height: 1rem;
    border-radius: 0.125rem;
    margin-bottom: 0.25rem;
    &:last-child {
      width: 80%;
      margin-bottom: 0;
    }
  }
  &[class*="__text"] {
    width: 100%;
    height: 1rem;
    border-radius: 0.125rem;
    margin-bottom: 0.25rem;
    &:last-child {
      width: 80%;
      margin-bottom: 0;
    }
  }
  &[class*="__title"] {
    width: 100%;
    height: 1.75rem;
    border-radius: 0.125rem;
    margin-bottom: 0.25rem;
    grid-area: title;
    &:last-child {
      width: 60%;
    }
  }
  &[class*="__topic-date"] {
    width: 11%;
    height: 1.2rem;
    border-radius: 0.125rem;
    margin-bottom: 0.25rem;
    grid-area: date-topic;
  }
  &[class*="__author"] {
    width: 10%;
    height: 1.2rem;
    border-radius: 0.125rem;
    margin-bottom: 0.25rem;
  }
  &[class*="__date"] {
    width: 15%;
    height: 0.8rem;
    border-radius: 0.125rem;
    margin-bottom: 0.25rem;
  }
}

@keyframes loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.site-footer {
  height: 4rem;
  display: grid;
  place-items: center;
}
